extends layout

include includes/sharedFunctions

block content
  .row.banner

  h2= 'Add User'

  .row
    .col-12.col-md-8
      form#addReview.form-horizontal(action='' method='POST' role='form')
        +throwError()
        .form-group.row
          label.col-xs-10.col-sm-2.control-label(for="first_name") First Name
          .col-xs-12.col-sm-10
            input#fist_name.form-control(name="first_name" placeholder="First Name")
        .form-group.row
          label.col-xs-10.col-sm-2.control-label(for="last_name") Last Name
          .col-xs-12.col-sm-10
            input#last_name.form-control(name="last_name" placeholder="Last name")
        .form-group.row
          label.col-xs-10.col-sm-2.control-label(for="name") Email
          .col-xs-12.col-sm-10
            input#email.form-control(name="email" placeholder="user@example.com")
        .form-group.row
          label.col-xs-10.col-sm-2.control-label(for="gender") Gender
          .col-xs-12.col-sm-10
            input#gender.form-control(name="gender" placeholder="Male or Female")
        .form-group.row
          label.col.xs-10.col-sm-2.control-label(for="ip_address") IP Address
          .col-xs-12.col-sm-10
            input#ip_address.form-control(name="ip_address" placeholder="124.110.14.12")
        button.btn.btn-primary.float-right Add User
      .col-12-col.md-4

